@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
:root { --brand:#792D8E; }
html,body { font-family:'Montserrat', system-ui, sans-serif; }
* { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
